@media only screen and (max-width: 600px) {
  .nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .nav-logo {
      text-transform: uppercase;
    }

    li {
      list-style: none;
    }
    .nav-content {
      display: none;
    }
    .nav-btn {
      display: none;
    }
  }

  section {
    padding: 1em 2em;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-img img {
      width: 90%;
    }

    .hero-left {
      margin: auto;
    }

    .hero-btn {
      background-color: var(--text-color);
      color: var(--btn-txt);
      border-radius: 20px;
      padding: 0.6em 3.3em;
    }
  }

  .features {
    position: relative;
    .shape1 {
      background-color: gainsboro;
      width: 100%;
      height: 260px;
    }
    .shape2{
      display: none;
    }
    .heading {
      position: absolute;
      top: 0;
      font-size: 40px;
      font-weight: 500;
      width: 300px;
      transform: translateY(130%);
    }

    .section2-img {
      text-align: center;
    }
    .section2-img img {
      width: 90%;
    }

    .features-btn {
      display: flex;
      justify-content: center;

      a {
        background-color: var(--text-color);
        color: var(--btn-txt);
        border-radius: 20px;
        padding: 0.6em 3.3em;
        // transform: translateX(112%);
      }
    }
  }

  .secound-features {
    .subHeading {
      text-align: center;
    }

    .section3-img img {
      width: 108%;
    }
  }

  .third-features {
    .subHeading {
      text-align: center;
    }

    .section4-img img {
      width: 100%;
    }
  }

  .footer {
    background-color: #dcdcdc;
    height: 100%;
    padding: 10% 15% 0 15%;

    .footer-content-sec {
      display: flex;
      justify-content: space-between;
      flex-flow: column;
    }

    .content-sec-item h3 {
      font-size: 16px;
      font-weight: bold;
      // color:#4b4c4d;
      letter-spacing: 0;
      margin: 0 0 16px;
      padding: 0;
      text-transform: initial;
    }

    .footer-content-sec ul {
      list-style: none;
      line-height: 1.6;
      font-size: 14px;
      padding: 0;
    }
    .footer-content-sec ul li {
      opacity: 0.8;
      cursor: pointer;
    }

    .footer-content-sec ul li:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
